alias cal="cal -w"
alias rm="rm -rf"
alias td="tree -dL 3"
alias tt="tree -L 2"
alias grep="grep  -i --color=auto"
alias mkdir="mkdir -p"
alias df="df -h"
alias diff="diff -y"
alias aa="sudo service apache2 restart"
alias st="sudo tail -fn 0 /var/log/apache2/error.log"
alias ss="screen"
alias tt="tmux -2"
alias ta="tmux -2 attach"
alias v="vim"
alias vi="vim"
alias pydev="sudo python setup.py develop"

#Git
alias gs="git status"
alias gg="git stash"
alias gg!="git stash pop"
alias ggx="git stash drop"
alias ggs="git stash list"
alias ggd="git stash show -p stash@{0}"
alias gm="git merge --no-ff"
alias gbd="git branch -D"
